@import url('https://fonts.googleapis.com/css?family=Rubik:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/**************************************************************************************************************
 *  GLOBAL ITEMS
 **************************************************************************************************************/

body {
    font-family: 'Rubik', sans-serif !important;
}

/* COLOURS */
.app-scheme { color: #3E98B7; }
.text-white { color: white; }
.text-scheme-1 { color: #3788A4; }
.text-scheme-2 { color: #317992; }
.text-scheme-3 { color: #2B6A80; }

.footer-container {
    color: white;
    background-color: #171515;
}

.footer-link {
    font-size: 0.9em;
    font-weight: 500;
    color: rgb(180, 180, 180);
    text-decoration: none;
}

.social-link {
    font-size: 1.5em;
    padding: 0 0.1em;
}

.navbar {
    background-color: #EDEDED;
}

.nav-item {
    padding: 0 0.3em;
}

.active {
    border-bottom: 2px solid #3E98B7;
}

/* Sign Up Button */
.btn.btn-nav-sign-up {
    color: #ffffff;
    background-color: #3E98B7;
    border-color: #3E98B7;
}
.btn.btn-nav-sign-up:hover {
    color: #ffffff;
    background-color: #3788A4;
    border-color: #317992;
}
.btn.btn-nav-sign-up:focus, .btn.btn-nav-sign-up.focus {
    box-shadow: 0 0 0 0.2rem #255B6D;
}
.btn.btn-nav-sign-up.disabled, .btn.btn-nav-sign-up:disabled {
    color: #ffffff;
    background-color: #3E98B7;
    border-color: #3E98B7;
}
.btn.btn-nav-sign-up:not(:disabled):not(.disabled):active,
.btn.btn-nav-sign-up:not(:disabled):not(.disabled).active {
    color: #ffffff;
    background-color: #317992;
    border-color: #2B6A80;
}
.show > .btn.btn-nav-sign-up.dropdown-toggle {
    color: #ffffff;
    background-color: #317992;
    border-color: #2B6A80;
}
.show > .btn.btn-nav-sign-up.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(49, 122, 146, 0.5);
}
.btn.btn-nav-sign-up:not(:disabled):not(.disabled):active:focus,
.btn.btn-nav-sign-up:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem rgba(49, 122, 146, 0.5);
}

/* Login Button */
.btn-login {
    color: inherit;
    text-decoration: none;
}
.btn-login:hover {
     color: inherit; 
     text-decoration:none; 
     cursor:pointer;  
}






/**************************************************************************************************************
 *  HOMEPAGE ITEMS
 **************************************************************************************************************/

/* Hero Section */
.hero-overlay {
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
}

.container-hero-img {
    background-color: #3E98B7;
}

.img-hero {
    object-fit: cover;
    object-position: 100% 90%;
    opacity: 0.5;
    height: 750px;
    z-index: 0;
}

.text-hero-header,.text-hero-plain {
    color: white;
    z-index: 1;
}
.text-hero-header {
    /* font-family: 'Muli', sans-serif; */
    font-size: 2.4em;
    font-weight: 900;
}
.text-hero-plain {
    font-size: 1.8em;
    max-width: 75%;
}

.btn.btn-hero {
    position: relative;
    z-index: 2;
}
.btn.btn-learn-more {
    color: #b73e6a;
    background-color: white;
    border: 2px solid #b73e6a;
}
.btn.btn-request {
    color: white;
    background-color: #b73e6a;
    border: 2px solid white;
}

.container-about-us {
    background-color: #e2eaed;
}
.card-about-us {
    position: relative;
    top: -50px;
    z-index: 3;
}

.card-title-underline {
    border-top: 3px solid black;
    width: 60px;
}

.container-services {
    background-color: white;
    position: relative;
    top: -100px;
    padding: 115px 10em 25px;
}

.services-icon {
    width: 130px;
    display: block;
    margin: 0 auto 10px;
}

.container-projects {
    position: relative;
    top: -50px;
    background-color: #333333;
}

.about-us-title, .services-title, .projects-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.projects-title {
    color: white;
    padding: 0 3em 1em;
}

.project-city-img {
    width: 100%;
    height: 300px;
    opacity: 0.6;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 5px 10px 3px black;
    z-index: 4;
}

.project-city-container {
    background-color: black;
    border-radius: 5px;
}

.project-city-title {
    position: relative;
    top: -160px;
    left: 0;
    right: 0;
    border: 2px solid white;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 0.4em 1em;
    z-index: 5;
}

.project-city-title:hover {
    text-decoration: none;
    color: white;
}




@media (max-width: 768px) {
    /* Hero Section */
    .hero-overlay {
        top: 250px !important;
    }

    /* Projects Section */
    .projects-title {
        text-align: center;
    }
}

@media (max-width: 576px) {
    /* Projects Section */
    .projects-title {
        padding: 0 1em 1em;
    }
}








/**************************************************************************************************************
 *  SIGNUP PAGE ITEMS
 **************************************************************************************************************/

.sign-up-background {
    background-image: linear-gradient(#255B6D, #58c2e5);
}

.sign-up-header p {
    font-size: 1.5em;
    margin-top: -15px;
}

.btn-submit {
    color: white;
    background-color: #b73e6a;
    font-size: 1.5em;
}

.label-sm {
    font-size: 0.75em;
    margin-bottom: -0.2em;
}